{% extends 'base.html' %}

{% block header %}

{% load static %}
<link href="{% static 'css/uPlot.css' %}" rel="stylesheet">

{% endblock header %}

{% block content %}

<div id="chart"></div>

{% endblock content %}

{% block scripts %}

<script src="{% static 'js/uPlot.iife.js' %}" charset="utf-8"></script>

<script>

function round2(val) {
  return Math.round(val * 100) / 100;
}

function round3(val) {
  return Math.round(val * 1000) / 1000;
}

function prepData(packed) {
  console.time("prep");

  let data = [
    Array(packed.length),
    Array(packed.length),
    Array(packed.length),
  ]

  for (let i = 0; i < packed.length; i++) {
    data[0][i] = new Date(packed[i].timestamp).getTime() / 1000
    data[1][i] = packed[i].altitude
    data[2][i] = packed[i].power
  }
  // epoch,idl,recv,send,read,writ,used,free

  // const numFields = packed[0];

  // packed = packed.slice(numFields + 1);

  // 55,550 data points x 3 series = 166,650
  // let data = [
  //   Array(packed.length/numFields),
  //   Array(packed.length/numFields),
  //   Array(packed.length/numFields),
  //   Array(packed.length/numFields),
  // ];

  // for (let i = 0, j = 0; i < packed.length; i += numFields, j++) {
  //   data[0][j] = packed[i] * 60;
  //   data[1][j] = round3(100 - packed[i+1]);
  //   data[2][j] = round2(100 * packed[i+5] / (packed[i+5] + packed[i+6]));
  //   data[3][j] = packed[i+3];
  // }

/*
  function filter(d) {
    return d.filter((d, i) => Math.round(i/1000) % 5 != 2);
  }

  data[0] = filter(data[0]);
  data[1] = filter(data[1]);
  data[2] = filter(data[2]);
  data[3] = filter(data[3]);
*/
/*
  data[0] = data[0].slice(0, 1000);
  data[1] = data[1].slice(0, 1000);
  data[2] = data[2].slice(0, 1000);
  data[3] = data[3].slice(0, 1000);

  data[1][35] = null;
  data[1][36] = null;
  data[2][730] = null;
*/
  console.timeEnd("prep");

  return data;
}

function makeChart(data) {
  console.time("chart");

  const opts = {
    title: "Server Events",
    width: 800,
    height: 600,
  //	cursor: {
  //		x: false,
  //		y: false,
  //	},
    series: [
      {},
      {
        label: "Altitude",
        scale: "m",
        value: (u, v) => v == null ? "-" : v.toFixed(1) + "m",
        stroke: "sienna",
        fill: "rgb(160,82,45,0.1)",
        width: 1/devicePixelRatio,
      },
      {
        label: "Power",
        scale: "W",
        value: (u, v) => v == null ? "-" : v.toFixed() + "W",
        stroke: "blue",
        width: 1/devicePixelRatio,
      },
      // {
      //   label: "TCP Out",
      //   scale: "mb",
      //   value: (u, v) => v == null ? "-" : v.toFixed(2) + " MB",
      //   stroke: "green",
      //   width: 1/devicePixelRatio,
      // }
    ],
    axes: [
      {},
      {
        scale: "%",
        values: (u, vals, space) => vals.map(v => +v.toFixed(1) + "m")
      },
      {
        side: 1,
        scale: "W",
        size: 60,
        values: (u, vals, space) => vals.map(v => +v.toFixed(2) + " W"),
        grid: {show: false},
      },
    ],
  };
  let el = document.getElementById('chart')
  let uplot = new uPlot(opts, data, el);

  // wait.textContent = "Done!";
  console.timeEnd("chart");
}

// let wait = document.getElementById("wait");
// wait.textContent = "Fetching data.json (2.07MB)....";
const actId = document.location.pathname.split('/').splice(-2,1)
fetch(`/activity/${actId[0]}/data`).then(r => r.json()).then(packed => {
  // wait.textContent = "Rendering...";
  let data = prepData(packed);
  setTimeout(() => makeChart(data), 0);
  setTimeout(() => console.log(packed), 0)
  setTimeout(() => console.log(data), 0)
});

</script>

{% endblock scripts %}