{% extends 'base.html' %}

{% block header %}

{% load static %}
<link href="{% static 'css/uPlot.css' %}" rel="stylesheet">

{% endblock header %}

{% block content %}

<div class="select is-multiple is-loading">
  <select name="plots[]" id="plots-select" multiple>

  </select>
</div>
<div id="chart"></div>

{% endblock content %}

{% block scripts %}

<script src="{% static 'js/uPlot.iife.js' %}" charset="utf-8"></script>

<script>
  function prepData(packed) {
    console.time("prep");
    let keys = Object.keys(packed[0]).slice(5)

    let data = []
    for (let i = 0; i <= keys.length; i++)
      data.push(Array(packed.length))

    for (let i = 0; i < packed.length; i++) {
      data[0][i] = new Date(packed[i].timestamp).getTime() / 1000
      Object.values(packed[i]).slice(5).map((c, j) => {
        data[j + 1][i] = c
      })
    }

    console.timeEnd("prep");

    return data;
  }

  let dataProps = {
    distance: {
      key: 'distance',
      scale: 'm',
      stroke: 'sienna',
      fill: "",
    },
    accumulated_power: {
      key: 'accumulated_power',
      scale: 'J',
      stroke: 'blue',
      fill: null,
    },
    speed: {
      key: 'speed',
      scale: 'mph',
      stroke: 'blue',
      fill: '',
    },
    altitude: {
      key: 'altitude',
      scale: 'm',
      stroke: 'sienna',
      fill: "rgb(160,82,45,0.1)",
    },
    power: {
      key: 'power',
      scale: 'W',
      stroke: 'green',
      fill: '',
    },
    heart_rate: {
      key: 'heart_rate',
      scale: 'bpm',
      stroke: 'orange',
      fill: '',
    },
    cadence: {
      key: 'cadence',
      scale: 'm',
      stroke: 'purple',
      fill: '',
    },
    temperature: {
      key: 'temperature',
      scale: 'C',
      stroke: 'green',
      fill: '',
    },
  }

  let makeSeries = function ({
    key,
    scale,
    stroke = 'blue',
    fill = null
  }) {
    return {
      series: {
        label: key.charAt(0).toUpperCase() + key.slice(1),
        scale: scale,
        value: (u, v) => v == null ? '-' : v.toFixed() + scale,
        stroke: stroke,
        fill: fill ? fill : null,
        width: 1 / devicePixelRatio,
      },
      axes: {
        // side: 0,
        scale: scale,
        size: 100,
        values: (u, vals, space) => vals.map(v => +v.toFixed(2) + ' ' + scale),
        // grid: {show: false},
      }
    }
  }

  function makeChart(data, key = 'power') {
    console.time("chart");
    const series = makeSeries(dataProps[key])
    const cursorOpts = {
      lock: true,
      sync: {
        key: 'Mooooo',
        setSeries: true,
      },
      x: true,
      y: false,
    }
    const opts = {
      // title: "Test",
      width: 800,
      height: 200,
      cursor: cursorOpts,
      series: [{},
        series.series,
      ],
      axes: [{},
        series.axes,
      ],
    };
    let el = document.getElementById('chart')
    let uplot = new uPlot(opts, data, el);

    // wait.textContent = "Done!";
    console.timeEnd("chart");
  }

  function getSelectedOptions(sel, fn) {
    var opts = [],
      opt;

    // loop through options in select list
    for (var i = 0, len = sel.options.length; i < len; i++) {
      opt = sel.options[i];

      // check if selected
      if (opt.selected) {
        // add to array of option elements to return from this function
        opts.push(opt.value);

        // invoke optional callback function if provided
        if (fn) {
          fn(opt);
        }
      }
    }

    // return array containing references to selected option elements
    return opts;
  }

  // let wait = document.getElementById("wait");
  const actId = document.location.pathname.split('/').pop()
  const select = document.getElementById('plots-select')
  fetch(`/activity/${actId}/data`).then(r => r.json()).then(packed => {
    // wait.textContent = "Rendering...";
    console.time('ready')
    console.log(Object.keys(packed[0]).slice(5))
    let data = prepData(packed);
    setTimeout(() => {
      Object.keys(packed[0])
        .slice(5)
        .map((c, i) => makeChart(Array(data[0], data[i + 1]), c))
    }, 0);
    Object.keys(packed[0]).slice(5).map(c => {
      select.add(new Option(c, c))
    })

    setTimeout(() => console.timeEnd('ready'), 0)
    // setTimeout(() => console.log(packed), 0)
    // setTimeout(() => console.log(data), 0)
  });
  select.onchange = function (e) {
    console.log(getSelectedOptions(select))
  }
</script>

{% endblock scripts %}