{% extends 'base.html' %}

{% block header %}

{% load static %}
<link href="{% static 'css/uPlot.css' %}" rel="stylesheet">

{% endblock header %}

{% block content %}

{% if activities %}
<ul>
  {% for activity in activities %}
  <li>{{ activity }}</li>
  {% endfor %}
</ul>
{% else %}
<p class="is-size-3">No activities queried</p>
{% endif %}

<div class="select is-multiple is-loading">
  <select id="plots-select" multiple>
  </select>
</div>
<div id="chart"></div>

{% endblock content %}

{% block scripts %}

<script src="{% static 'js/uPlot.iife.js' %}" charset="utf-8"></script>

<script>
  function prepData(packed) {
    console.time("prep");
    const keys = Object.keys(packed[0][0]).slice(5)
    const keyLen = keys.length
    let data = []
    const lengths = packed.map(c => c ? c.length : null)
    const maxLen = packed.reduce((a, c, i) => c.length > a[0] ? [c.length, i] : a, [0, 0])
    for (let i = 0; i <= keys.length * packed.length; i++) {
      data.push(Array(maxLen[0]))
    }
    for (let i = 0; i < maxLen[0]; i++) {
      data[0][i] = new Date(packed[maxLen[1]][i].timestamp).getTime() / 1000
      for (let k = 0; k < packed.length; k++) {
        if (packed[k] && lengths[k] > i) {
          Object.values(packed[k][i]).slice(5).map((c, j) => {
            data[k * keyLen + j + 1][i] = c
          })
        } else {
          keys.map((c, j) => {
            data[k * keyLen + j + 1][i] = null
          })
        }
      }
    }

    console.timeEnd("prep");

    return data;
  }

  let dataProps = {
    distance: {
      key: 'distance',
      scale: 'm',
      stroke: 'sienna',
      fill: "",
    },
    accumulated_power: {
      key: 'accumulated_power',
      scale: 'J',
      stroke: 'blue',
      fill: null,
    },
    speed: {
      key: 'speed',
      scale: 'mph',
      stroke: 'blue',
      fill: '',
    },
    altitude: {
      key: 'altitude',
      scale: 'm',
      stroke: 'sienna',
      fill: "rgb(160,82,45,0.1)",
    },
    power: {
      key: 'power',
      scale: 'W',
      stroke: 'green',
      fill: '',
    },
    heart_rate: {
      key: 'heart_rate',
      scale: 'bpm',
      stroke: 'orange',
      fill: '',
    },
    cadence: {
      key: 'cadence',
      scale: 'rpm',
      stroke: 'purple',
      fill: '',
    },
    temperature: {
      key: 'temperature',
      scale: 'C',
      stroke: 'green',
      fill: '',
    },
  }

  let makeSeries = function ({
    key,
    scale,
    stroke = 'blue',
    fill = null
  }) {
    return {
      series: {
        label: key.charAt(0).toUpperCase() + key.slice(1),
        scale: scale,
        value: (u, v) => v == null ? '-' : v.toFixed() + scale,
        stroke: stroke,
        fill: fill ? fill : null,
        width: 1 / devicePixelRatio,
      },
      axes: {
        // side: 0,
        scale: scale,
        size: 100,
        values: (u, vals, space) => vals.map(v => +v.toFixed(2) + ' ' + scale),
        // grid: {show: false},
      }
    }
  }

  function makeChart(data, key = 'power') {
    console.time("chart");
    const series = makeSeries(dataProps[key])
    const cursorOpts = {
      lock: true,
      sync: {
        key: 'Mooooo',
        setSeries: true,
      },
      x: true,
      y: false,
    }
    const opts = {
      // title: "Test",
      width: 800,
      height: 200,
      cursor: cursorOpts,
      series: [{},
        series.series,
        series.series, // temporary double
      ],
      axes: [{},
        series.axes,
        series.axes, // temporary double
      ],
    };
    let el = document.getElementById('chart')
    let uplot = new uPlot(opts, data, el);

    // wait.textContent = "Done!";
    console.timeEnd("chart");
    return uplot
  }

  function getSelectedOptions(sel, fn) {
    var opts = [],
      opt;
    for (var i = 0, len = sel.options.length; i < len; i++) {
      opt = sel.options[i];
      if (opt.selected) {
        opts.push(opt.value);
        if (fn) {
          fn(opt);
        }
      }
    }
    return opts;
  }

  // let wait = document.getElementById("wait");
  const search = document.location.search
  let plots = {}
  const select = document.getElementById('plots-select')
  console.time('fetch')
  fetch(`/activity/data${search}`).then(r => r.json()).then(packed => {
    // wait.textContent = "Rendering...";
    console.timeEnd('fetch')
    console.time('ready')
    // console.log(packed)
    // console.log(Object.keys(packed[0][0]).slice(5))
    const keys = Object.keys(packed[0][0]).slice(5)
    let data = prepData(packed);
    console.log(data)
      setTimeout(() => {
        console.log(keys)
          keys.map((c, i) => {
            console.log(c,i)
            let dataArray = Array(packed.length + 1)
            dataArray[0] = data[0]
            for (let j = 1; j <= packed.length; j++) {
              dataArray[j] = data[i + 1 + keys.length * (j - 1)]
            }
            // console.log(dataArray)
            plots[c] = makeChart(dataArray, c)
          })
      }, 0);

      keys.map(c => {
        select.add(new Option(c, c, true, true))
      })

      setTimeout(() => console.timeEnd('ready'), 0)
  });

  select.onchange = function (e) {
    let selected = getSelectedOptions(select)
    // console.log(selected)
    for (key of Object.keys(plots)) {
      plots[key].root.hidden = selected.includes(key) ? false : true
    }
  }
</script>

{% endblock scripts %}